.vscode
.pytest_cache
.coverage
.ipynb_checkpoints
.DS_Store

__pycache__
htmlcov

dist
build
*.egg-info

benchmarks/input/*.txt
benchmarks/output/*
benchmarks/src/*
!benchmarks/src/*.c
!benchmarks/src/*.h
!benchmarks/src/Makefile
